html, body, #root {
  min-height: 100vh;
  width: 100vw;
}

/* button.card {
  background-color: #fff;
  color: black;
  border: 0;
  border-radius: 15px;
  font-size: 3em;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  outline: none;
}

button.card:hover {
  background-color: #ffc4a9;
}

button.card.selected {
  background-color: #ff570a;
  color: white;
} */

/* https://coolors.co/12355b-420039-d72638-ffffff-ff570a
--prussian-blue: #12355b;
--russian-violet: #420039;
--amaranth-red: #d72638;
--white: #ffffff;
--orange-pantone: #ff570a;
*/