.MainMenu {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #420039;
  color: #fff
}

.MainMenu > h1 {
  position: absolute;
  width: calc(100vw - 12px);

  left: 12px;
  top: 0;
  text-align: center;
  font-size: 72px;
}

@media(max-width: 960px) {
  .MainMenu > h1 {
    position: static;
  }
}

.MainMenu .Options {
  flex: 1;
  display: flex;
  flex-direction: row;
}

@media(max-width: 960px) {
  .MainMenu .Options {
    flex-direction: column;
  }

  .MainMenu .HostSessionOption {
    padding-bottom: 36px;
  }

  .MainMenu .JoinSessionOption {
    padding-top: 36px;
    padding-bottom: 64px;
  }
}

.MainMenu .HostSessionOption,
.MainMenu .JoinSessionOption {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainMenu .HostSessionOption {
  background-color: #420039;
  color: #fff;
}

.MainMenu .JoinSessionOption {
  background-color: #12355b;
  color: #fff;
}

.MainMenu .HostSessionOption > div,
.MainMenu .JoinSessionOption > div {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin-bottom: 36px;
}

.MainMenu .HostSessionOption h2,
.MainMenu .JoinSessionOption h2 {
  font-size: 32px;
}

.MainMenu .HostSessionOption a,
.MainMenu .JoinSessionOption a,
.MainMenu .JoinSessionOption button {
  background-color: #fff;
  color: black;
  border: 0;
  border-radius: 16px;
  font-size: 48px;
  font-weight: bold;
  padding: 48px;
  text-decoration: none;
}

.MainMenu .HostSessionOption a:hover,
.MainMenu .JoinSessionOption a:hover {
  background-color: #ddd;
}

.MainMenu .HostSessionOption a {
  margin-top: 180px;
}
@media(max-width: 960px) {
  .MainMenu .HostSessionOption a {
    margin-top: 0;
  }
}

.MainMenu .JoinSessionOption form {
  display: flex;
  flex-direction: column;
}

.MainMenu .JoinSessionOption form label {
  font-size: 32px;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
}

.MainMenu .JoinSessionOption form label input {
  margin-top: 12px;

  border-radius: 16px;
  padding: 4px;
  font-size: 48px;
  text-align: center;
}

.MainMenu .JoinSessionOption button:disabled {
  opacity: 0.5;
}

/* https://coolors.co/12355b-420039-d72638-ffffff-ff570a
--prussian-blue: #12355b;
--russian-violet: #420039;
--amaranth-red: #d72638;
--white: #ffffff;
--orange-pantone: #ff570a;
*/